<h1>Order details</h1>
<div class="catalog">
    <div class="column">
        <img src="/img/{{imageUrl}}">
    </div>
    <div class="column">
        <h2>{{productName}}</h2>
        <h3>From {{orderShortDate}}</h3>
        
        <div class="toppings">
            {{#each toppings}}
            <br>{{this}} {{/each}}
        </div>
    </div>

    <div class="status">
        <div class="status-block">
            <span class="progress-right"></span>
            <span class="checkpoint {{#if statusPending}} current {{/if}}"></span>
            <br> Pending
        </div>
        <div class="status-block">
            <span class="progress-left"></span>
            <span class="progress-right"></span>
            <span class="checkpoint {{#if statusInProgress}} current {{/if}}"></span>
            <br> In progress
        </div>
        <div class="status-block">
            <span class="progress-left"></span>
            <span class="progress-right"></span>
            <span class="checkpoint {{#if statusInTransit}} current {{/if}}"></span>
            <br> In transit
        </div>
        <div class="status-block">
            <span class="progress-left"></span>
            <span class="checkpoint {{#if statusDelivered}} current {{/if}}"></span>
            <br> Delivered
        </div>
    </div>
</div>