<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Book Library</title>
    <link rel="stylesheet" href="/styles/site.css">
</head>

<header class="menu">
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/all">View All Books</a>
        </li>
        <li>
            <a href="/add">Add Book</a>
        </li>
    </ul>
</header>

<main>
    <div class="container">
        {{{body}}}
    </div>
</main>

<footer>
    Copyright 2018
</footer>

</html>