<h1>Login</h1>

<form method="post" action="/users/login">
    <input required name="username" placeholder="username" />
    <input required type="password" name="password" placeholder="password" />

    <input id="submit" type="submit" value="LOGIN" />
</form>