<h1>Register</h1>

<form method="post" action="/users/register">
  <input required name="username" placeholder="username" />
  <input required type="password" name="password" placeholder="password" />
  <input required type="text" name="firstName" placeholder="first name" />
  <input required type="text" name="lastName" placeholder="last name" />

  <input id="submit" type="submit" value="REGISTER" />
</form>