<form action="/users/register" method="POST">

    <input required type="text" name="username" placeholder="Username" />
    <br>
    <input required type="password" name="password" placeholder="Password" />
    <br>
    <input required type="text" name="firstName" placeholder="First name" />
    <br>
    <input required type="text" name="lastName" placeholder="Last name" />
    <br>

    <input type="submit" value="Register" />
</form>