<h1>Manage orders</h1>
<div class="orders">
    <form method="post" action="/orders/manage">

        {{#each orders}} {{> orderAdmin}} {{/each}}

        <input type="submit" value="Save Changes" class="button" style="border:0">
    </form>
</div>