<h1>Create a car</h1>

<form method="post" action="/cars/create">
    <input required name="model" type="text" placeholder="model" />
    <input required name="imageUrl" type="url" placeholder="image url" />
    <input required name="price" type="number" min="0" placeholder="price" />

    <input id="submit" type="submit" value="CREATE" />
</form>